<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home - Server</title>
    <style>
        h2{
            color : crimson;
        }
    </style>
</head>
<body>
    <h2>This is the server Home.</h2>

    <p>Click <a href="~/api/students">here </a>to access the Student API</p>
    <p>Click <a href="~/swagger"> here </a>to test the functionality using Swagger UI</p>
</body>
</html>